<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<h3>删除书籍</h3>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/book/delete_book/{{ del_book.pk }}" method="post">
                    <table class="table table-striped"  >
        <tbody>
            <tr>
                <td>{{ del_book.title }}</td>
                <td>{{ del_book.price }}</td>
                <td>{{ del_book.pub_date|date:'Y-m-d' }}</td>
                <td>{{ del_book.publish.name }}</td>
                <td>
                    {% for author in del_book.authors.all %}
                        <span class="btn-sm btn-info">{{ author.name }}</span>
                    {% endfor %}
                </td>
                <td>
                   <button class="btn-xs btn-danger">确认删除</button>
                   <a href="/" class=" btn-sm btn-primary">取消</a>
                </td>
            </tr>
        </tbody>
    </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>